.card{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    min-height: 370px;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3s;
    background-color:rgb(223, 223, 223);
    &:hover{
        transform: scale(1.02);
        box-shadow:0 0 20px rgba(33,33,33,.2);
    }
}

.card-img{
    margin-bottom: .25rem;
    border-radius: 5%;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin-bottom: 1rem;
    
}

.card-title{
    color: black;
    text-align: left;
    font-weight: bold;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: .75rem;
    

}

.card-title-container{

}

.card-text-container{
    
}

.card-text{
    color: black;
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: .75rem;
    margin-bottom: 1rem;
    

}

.card-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
    background-color:rgb(223, 223, 223);
}

.card-button{
    background-color: cornflowerblue;
    margin: .5rem;
    padding: .5rem;
    &:hover{
        box-shadow:0 0 20px rgba(33,33,33,.2);
    }
}


.card-quote{

}

.card-author{

}

.card-rating{

}

.card-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;

}