@import "_variables";
@import "_globals";
@import "_header";
@import "_footer";
@import "_mixins";
@import "_animations";
@import "_cards";
@import "skill_table";
@import "skill_bubbles";
@import "_pagination";

section{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#timeline-container{
    width: 80%; 
    max-width:900px;
}

.timeline-entry{
    display: flex;
    padding-top: 1.5rem;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.certification-section{

}

.hire-me-button-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.hire-me-button{
    display: flex;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    background-color: cornflowerblue;
    
    &:hover{
        box-shadow:0 0 20px rgba(33,33,33,.2);
    }
}


.timeline-seperator{
    height: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(208,208,208,1) 0%, rgba(108,108,108,0.4842669489670869) 50%, rgba(208,208,208,1) 100%);
}

.course-work-button{
    color: black;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    

}

.location-text{
    font-style: italic; 
    font-weight: 100;
    font-size: 12pt;
}

.timeline-content{

    width: 70%;
    margin-left: 5%;
    > ol{
        list-style: none;
        text-indent: -1em;
    }
    
}



.timeline-lead{

    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    min-width: 200px;
    align-content: center;
    justify-content: center;

}

.timeline-school-icon{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.about-text{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    text-align: left;

    &.light-text{
        font-weight: 300;

    }

    &.bold-text{
        font-weight: 600;
    }

}




.skill-lead{
    display: flex;
    text-decoration: underline;
    color: black;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 575.98px){

    .content-center-container{
        
        width: 95%;

        >h2 {
            text-align: center;
        }
    }

    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: none; 
        border-radius: 50%;
        -webkit-shape-outside:none;
        shape-outside:none;
        max-width: 100%;
        
    
    }
    
    .profile-image{
        border-radius: 50%;
        width: 250px;
        float: none;
        margin-right:none;
        margin-top: none;
        border-radius: 50%;
        -webkit-shape-outside:none;
        shape-outside:none;
    
    }

    .about-text{
        text-align: center;
    }

    .timeline-entry{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .timeline-lead{
        text-align: center;
        margin-right: 0%;
    }

    .timeline-content{
        text-align: center;
        margin-right: 0%;
        margin-left: 0%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .timeline-school-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #timeline-container{
        width: 98%; 
    }

    .about-content{
        width: 98%;
    }

    .timeline-content{
        width: 98%;
    }


}

@media (min-width: 576px) and (max-width:991.98px){

    .content-center-container{

        width: 75%;

        > h2 {
            text-align: center;
        }
    }

    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: none; 
        border-radius: 50%;
        -webkit-shape-outside:none;
        shape-outside:none;
        max-width: 800px;
    
    }
    
    .profile-image{
        border-radius: 50%;
        width: 250px;
        float: none;
        margin-right:none;
        margin-top: none;
        border-radius: 50%;
        -webkit-shape-outside:none;
        shape-outside:none;
    
    }

    .about-text{
        text-align: center;
    }

    .timeline-entry{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .timeline-lead{
        text-align: center;
        margin-right: 0%;
    }

    .timeline-content{
        text-align: center;
        margin-right: 0%;
        margin-left: 0%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .timeline-school-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    
}

@media (min-width:992px) and (max-width:1199.98px){
    .content-center-container{

        width: 75%;
    }

    .about-content{
        float: left; 
        border-radius: 50%;
        -webkit-shape-outside:circle();
        shape-outside:circle();
        max-width: 800px;
    }
    
    .profile-image{
        border-radius: 50%;
        width: 250px;
        float: left;
        margin-right:2rem; 
        margin-top: 2rem;
        border-radius: 50%;
        -webkit-shape-outside:circle();
        shape-outside:circle()
    
    }

    .about-text{
        text-align: left;
    }

}

@media (min-width:1200px) and (max-width:1399.9px){
    .content-center-container{

        width: 75%;
    }

    .about-content{
        float: left; 
        border-radius: 50%;
        -webkit-shape-outside:circle();
        shape-outside:circle();
        max-width: 800px;
    }
    
    .profile-image{
        border-radius: 50%;
        width: 250px;
        float: left;
        margin-right:2rem; 
        margin-top: 2rem;
        border-radius: 50%;
        -webkit-shape-outside:circle();
        shape-outside:circle()
    
    }

    .about-text{
        text-align: left;
    }


}

@media (min-width: 1400px){
    .content-center-container{

        width: 75%;
    }

    .about-content{
        float: left; 
        border-radius: 50%;
        -webkit-shape-outside:circle();
        shape-outside:circle();
        max-width: 800px;
    }
    
    .profile-image{
        border-radius: 50%;
        width: 250px;
        float: left;
        margin-right:2rem; 
        margin-top: 2rem;
        border-radius: 50%;
        -webkit-shape-outside:circle();
        shape-outside:circle()
    
    }

    .about-text{
        text-align: left;
    }


}