@import "_variables";
@import "_globals";
@import "_header";
@import "_footer";
@import "_mixins";
@import "_animations";
@import "_cards";

.bookshelf-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
}

.pagination-right{
    height: 22px;
    width: 22px;
    &:hover{
        
        transform: scale(1.10);
        box-shadow:0 0 20px rgba(33,33,33,.2);
    }
}

.pagination-left{
    height: 22px;
    width: 22px;
    &:hover{
        transform: scale(1.10);
        box-shadow:0 0 20px rgba(33,33,33,.2);
    }
}

.pagination-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50%;
    max-width: 1000px;
}

.pagination-text{
    color: black;
    text-align: center;
}

.bookshelf-header-image-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookshelf-lead-image-container{
    width: 100%;
    margin-top: -10px;
    height: 300px;
    background-image: url(../images/Bookshelf_Images/bookshelf_header_image.png);
    background-repeat:repeat-x;
    background-size: cover; 
    background-position-x: center;
    background-position-y: center;

}




