@import "_variables";
@import "_globals";
@import "_header";
@import "_footer";
@import "_mixins";
@import "_animations";




.title-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top:33%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    animation: title-bg-fade 2000ms ease-in-out forwards;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right:20px;

}

.content-container{
    display: flex;
    justify-content: space-evenly;
    
}


.canvas-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    
}


.name-title{
    color: white;
    text-align: center;
    font-size: 48px;
    animation: text-fade 2000ms ease-in-out forwards;

}


.name-title-container{
    text-align: center;
}


.description-container{
    text-align: center;
}


.description-content{
    color: white;
    text-align: center;
    font-size: 32px;
    animation: text-fade 2000ms ease-in-out forwards;
}


@media (max-height: 912px){

    .title-card{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .description-content{
        font-size: 20px;
        }

    .name-title{
        font-size: 36px;
        }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    }
}
