@import "_variables";
@import "_globals";
@import "_header";
@import "_footer";
@import "_mixins";
@import "_animations";


.Mandelbrodt-button{
    display: flex;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(106, 92, 168, 0.212);
    margin-left: auto;
    margin-right: auto;
}

.Mandelbrodt-button-text{
    color: rgba(255, 255, 255, 0.4);
}