@import "_variables";
@import "_globals";
@import "_header";
@import "_footer";
@import "_mixins";
@import "_animations";
@import "_cards";


.project-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 15px;
    flex-direction: column;
}

.project-lead-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.annotation-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
}

.replication-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;

}

.research-lead-image-container{

}

.research-lead-image{

}


.working-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;

}

.original-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;

}


@media (max-width: 575.98px){


    .content-center-container{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width:991.98px){

    .content-center-container{
        width: 75%;
    }
}

@media (min-width:992px) and (max-width:1199.98px){


    .content-center-container{
        width: 70%;
    }
}

@media (min-width: 1200px) {


    .content-center-container{
        width: 750px;
    }

}