@import "_variables";
@import "_globals";
@import "_header";
@import "_footer";
@import "_mixins";
@import "_animations";

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.lead-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
  margin-bottom: 35px;
}

.skill-description{
  color: black;
  
}

.skill-lead{
  color: black;
  text-decoration: underline;
}



.skill-bar{
  
  background-color: #363636;
  border-radius: 10px;
  height: 10px;
}

#skill {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-collapse: collapse;
    
    width: 70%;
  }

  
  #skill td, #skill th {
    border: 0px solid rgba(48, 47, 47, 0.1);
    padding: 8px;
    width: 25%;
  }
  
  
  
  #skill tr:hover {background-color: rgba(51, 50, 50, 0.1);}
  
  #skill th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    
    background-color: #363636;
    color: white;
  }